.easy
{
    background-color: #fff;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 105px;
    
}

.easy__title
{
    @include title-text;
}

.easy__description
{
    @include description-text;
}

.easy__group
{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}


.easy__block
{
    position: relative;
}

.easy__numb
{
    font-family: $font-family-bold;
    font-size: 150px;
    color: rgba(57, 62, 107, 0.149);
}

.easy__about
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -25px;
}

  .easy__block--one .easy__about {
    left: 50px;
}

.easy__block--two .easy__about {
    width: 250px;
    left: 50px;
}


.easy__link
{
    padding-top: 40px;
}

.easy__link a
{
    @include little-link;
}

.icon {
  width: 16px;
  height: 16px;
  float: left;
}

.easy__block--one .icon {
  width: 50px; 
  height: 50px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -10px -198px;
}

.easy__block--two .icon {
  width: 50px; 
  height: 50px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -80px -198px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .easy__about
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -25px;
}

    .easy__block--one .easy__about {
    left: 50px;
}

.easy__block--two .easy__about {
    width: 250px;
    left: 50px;
}



}

@media screen and (min-width: 0px) and (max-width: 767px) {

    .easy
       {
           padding-top: 40px;
            padding-bottom: 80px;
       }

      .easy__title
{
      width: 90%;
      font-size: 26px;
      line-height: 25px;
      margin-bottom: 25px;
}

.easy__text
{
    width: 90%;
}

.easy__description {
    font-size: 13px;
    line-height: 20px;
    color: #74757b;
    width: 85%;
}

.easy__group
{
    width: 100%;
    margin-top: 25px;
}

.easy__block {
    position: relative;
    width: 50%;
}

.easy__numb
{
    font-size: 70px;
}

.easy__block--one .easy__about {
    left: 20px;
    bottom: -20px;
}

.easy__block--two .easy__about {
    width: 100px;
    left: 25px;
    bottom: -40px;
}

.easy__link {
    padding-top: 0px;
}

.easy__link a {
    font-size: 14px;
    line-height: 18px;
}
 
}
