.installation 
{
    background-color: #eff4f4;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 65px;
}

.installation__title
{
    font-family: $font-family-bold;
    font-size: 36px;
    line-height: 46px;
    color: $title-color;
    text-transform: uppercase;
}

.installation__text
{
      width: 60%;
      padding-bottom: 55px;
}


.installation__description
{
    @include description-text;

}

.installation__button
{
    width: 256px;
    height: 48px;
    border-radius: 22px;
    &--free
    {
       background-color: rgb(44, 211, 184);
       border: none;
    }
    &--pay
    {
     background-color: inherit;
     border: 1px solid #393e6b;
     margin-left: 15px;
    }
}

.installation__button--free a
{
    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.installation__button--pay a
{
    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 24px;
    color: $title-color;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {


}

@media screen and (min-width: 0px) and (max-width: 767px) {

       .installation
       {
           padding-top: 20px;
            padding-bottom: 20px;
       }

     .installation__title
{
      width: 90%;
      font-size: 26px;
      line-height: 44px;
      margin-bottom: 0px;
}

 .installation__text
{
      width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.installation__description {
    font-size: 13px;
    line-height: 18px;
    color: #74757b;
    width: 95%;
}


.installation__group
{
    width: 90%;
}

.installation__button {
    width: 100%;
    height: 48px;
    border-radius: 22px;
    margin-bottom: 15px;

}

.installation__button--pay
{
    margin-left: 0;
}

}
