.waiting
{
    background-color: #eff4f4;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 65px;
}

.waiting__title
{
     @include title-text;
     padding-bottom: 10px;
}

.waiting__description
{
    @include description-text;
    padding-bottom: 60px;
}

.waiting__block
{
    display: flex;
    flex-direction: column;
}

.waiting__card
{
   margin-bottom: 30px;
   display: flex;
   align-items: center;
}


.waiting__text
{
    @include description-text;
    color: $title-color;
    margin-left: 30px;
}

.waiting__text span 
{
     @include title-text;
     font-size: 24px;
     text-transform: none;
     padding-right: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  float: left;
}

.waiting__card--one .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -198px -10px;
}

.waiting__card--two .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -198px -104px;
}

.waiting__card--three .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -104px -104px;
}

.waiting__card--four .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png")  -10px -10px;
}

.waiting__card--five .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -104px -10px;
}

.waiting__card--six .icon {
  width: 74px; 
  height: 74px;
  cursor: pointer;
  background: url("../img/css_sprites.png") -10px -104px;
}

.waiting__button
{
    width: 256px;
    height: 48px;
    border-radius: 22px;
    margin-top: 30px;
    &--free
    {
       background-color: rgb(44, 211, 184);
       border: none;
    }
    &--pay
    {
     background-color: #393e6b;
     border: none;
     margin-left: 15px;
    }
}

.waiting__button--free a
{
    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.waiting__button--pay a
{
    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

.waiting__title {
    width: 80%;
    padding-bottom: 30px;
}

.waiting__description
{
    padding-bottom: 30px;
}

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .waiting
       {
           padding-top: 40px;
            padding-bottom: 40px;
       }

      .waiting__title
{
      width: 95%;
      font-size: 24px;
      line-height: 25px;
      margin-bottom: 0px;
}


.waiting__description {
    font-size: 13px;
    line-height: 18px;
    color: #74757b;
    width: 95%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.waiting__text
{
    @include description-text;
    font-size: 13px;
    line-height: 18px;
    color: $title-color;
    margin-left: 20px;
}

.waiting__text span 
{
     @include title-text;
     font-size: 13px;
    line-height: 18px;
     text-transform: none;
     padding-right: 5px;
}

.waiting__card--one .icon {
  width: 150px; 
}

.waiting__card--two .icon {

    width: 90px;
}

.waiting__card--three .icon {

    width: 85px;

}

.waiting__card--four .icon {

    width: 90px;
}

.waiting__card--five .icon {

    width: 90px;
}

.waiting__card--six .icon {

    width: 90px;
}

.waiting__button
{
  width: 90%;
  margin-top: 20px;
}

.waiting__button--pay
{
  margin-left: 0;
}

 
}